<form (ngSubmit)="onSubmit()" [formGroup]="serieRelatorioForm" #formDir="ngForm">
    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>Série</mat-label>
        <mat-select name="acao" formControlName="serie" required >
            <mat-option *ngFor="let serie of series" [value]="serie.valor"> {{serie.texto}} </mat-option>
        </mat-select>
        <mat-error *ngIf="serieRelatorioForm.get('serie')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <div class="form-field-button">
        <button mat-flat-button type="submit" color="accent"> 
            Imprimir
        </button>

        <button mat-flat-button type="reset" (click)="onReset()" color="warn"> 
            Cancelar
        </button>
    </div>
</form>
