<form (ngSubmit)="onSubmit()" [formGroup]="redefinirSenhaForm" #formDir="ngForm">
    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" name="email" placeholder="Ex.: joaosilva@email.com">
        <mat-error *ngIf="redefinirSenhaForm.get('email')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <div class="form-field">
        <p>Digite o e-mail cadastrado no seu usuário para receber a nova senha por e-mail.</p>
        <br>
    </div>
    
    <div class="form-field-button">
        <button mat-flat-button type="submit" color="accent"> 
            Enviar
        </button>

        <button mat-flat-button type="reset" (click)="onReset()" color="warn"> 
            Cancelar
        </button>
    </div>
</form>
