<form (ngSubmit)="onSubmit()" [formGroup]="alunoRelatorioForm" #formDir="ngForm">
    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>Código</mat-label>
        <input matInput type="number" name="codigo" placeholder="Ex.: 1" formControlName="codigo" required />
        <mat-error *ngIf="alunoRelatorioForm.get('codigo')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>Nome</mat-label>
        <input matInput name="nome" placeholder="Ex.: João" formControlName="nome" required />
        <mat-error *ngIf="alunoRelatorioForm.get('nome')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>Sobrenome</mat-label>
        <input matInput name="sobrenome" placeholder="Ex.: Silva" formControlName="sobrenome" required />
        <mat-error *ngIf="alunoRelatorioForm.get('sobrenome')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>Série</mat-label>
        <mat-select name="serie" formControlName="serie" required >
            <mat-option *ngFor="let serie of series" [value]="serie.valor"> {{serie.texto}} </mat-option>
        </mat-select>
        <mat-error *ngIf="alunoRelatorioForm.get('serie')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>Turma</mat-label>
        <mat-select name="turma" formControlName="turma" required >
            <mat-option *ngFor="let turma of turmas" [value]="turma.valor"> {{turma.texto}} </mat-option>
        </mat-select>
        <mat-error *ngIf="alunoRelatorioForm.get('turma')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>


    <div class="form-field-button">
        <button mat-flat-button type="submit" color="accent"> 
            Imprimir
        </button>

        <button mat-flat-button type="reset" (click)="onReset()" color="warn"> 
            Cancelar
        </button>
    </div>
</form>
