<form (ngSubmit)="onSubmit()" [formGroup]="turmaOrganizacionalForm" #formDir="ngForm">
    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>Ação</mat-label>
        <mat-select  name="acao" formControlName="acao" required >
            <mat-option *ngFor="let acao of acoes" [value]="acao.valor"> {{acao.texto}} </mat-option>
        </mat-select>
        <mat-error *ngIf="turmaOrganizacionalForm.get('acao')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>Série</mat-label>
        <input matInput type="number" name="serie" placeholder="Ex.: 1" formControlName="serie" required />
        <mat-error *ngIf="turmaOrganizacionalForm.get('serie')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>Turma</mat-label>
        <input matInput name="turma" placeholder="Ex.: A" formControlName="turma" required />
        <mat-error *ngIf="turmaOrganizacionalForm.get('turma')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline" color="accent">
        <mat-label>Período</mat-label>
        <mat-select name="turno" formControlName="periodo" required >
            <mat-option *ngFor="let periodo of periodos" [value]="periodo.valor"> {{periodo.texto}} </mat-option>
        </mat-select>
        <mat-error *ngIf="turmaOrganizacionalForm.get('periodo')?.errors?.['required']">
            Este campo é <strong>Obrigatório</strong>
        </mat-error>
    </mat-form-field>
    
    <div class="form-field-button">
        <button mat-flat-button type="submit" color="accent"> 
            Salvar
        </button>

        <button mat-flat-button type="reset" (click)="onReset()" color="warn"> 
            Cancelar
        </button>
    </div>
</form>
