// * {
//     color: white;
// }

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

// nav > ul {
//     list-style: none;
//     display: flex;
//     gap: 2rem;
//     margin: 0 auto;
// }

// nav > ul > li:hover , nav > ul > li.over {
//     background-color: #0BA49A;
//     border-radius: 5px;
//     visibility: visible;
// }

// nav > ul > li > span {
//     cursor: pointer;
//     display: block;
//     padding: 10px;
// }

// nav > ul > li:hover > .sublista, nav > ul > li.over {
//     visibility: visible;
// }

// nav > ul > li > .sublista {
//     visibility: hidden;
//     list-style: none;
//     position: absolute;
//     background-color: #FFFFFF;
//     color: #000000;
// }
// nav > ul > li > .sublista > li > a {
//     color: #000000;
//     padding: 10px;
//     display: block;
//     border: solid .5px rgb(202, 202, 202);
// }

nav > div {
    margin: 0 auto;
}

nav > div > button {
    color: #FFFFFF;
    font-size: 14pt;
}

nav > a {
    color: #FFFFFF;
    font-size: 14pt;
}

// nav > a {
//     padding: 10px;
// }
// nav > a:hover, nav > a.over {
//     background-color: #0BA49A;
//     border-radius: 5px;
// }
