
<nav>
    <div *ngIf="conected">
        <button mat-button [matMenuTriggerFor]="aluno">Aluno</button>
        <mat-menu #aluno="matMenu">
            <a mat-menu-item routerLink="/aluno-registro">Registro</a>
            <a mat-menu-item routerLink="/aluno-matricula">Matrícula</a>
            <a mat-menu-item routerLink="/aluno-desempenho">Desempenho</a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="organizacional">Organizacional</button>
        <mat-menu #organizacional="matMenu">
            <a mat-menu-item routerLink="/organizacional-serie">Série</a>
            <a mat-menu-item routerLink="/organizacional-turma">Turma</a>
            <a mat-menu-item routerLink="/organizacional-disciplina">Disciplina</a>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="relatorio">Relatório</button>
        <mat-menu #relatorio="matMenu">
            <a mat-menu-item routerLink="/relatorio-aluno">Por Aluno</a>
            <a mat-menu-item routerLink="/relatorio-turma">Por Turma</a>
            <a mat-menu-item routerLink="/relatorio-serie">Por Série</a>
            <a mat-menu-item routerLink="/relatorio-livro">Livro de Notas</a>
        </mat-menu>
    </div>

    <a mat-button [matMenuTriggerFor]="usuario" *ngIf="conected; else userNotConected">Usuário</a>
    <mat-menu #usuario="matMenu">
        <a mat-menu-item routerLink="/perfil">Perfil</a>
        <a mat-menu-item *ngIf="admin" routerLink="/usuario">Usuários</a>
        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/login">Sair</a>
    </mat-menu>
    <ng-template #userNotConected>
        <a mat-button routerLink="/login">Entrar</a>
    </ng-template>
</nav>
