<footer>
    <div class="container">
        <div>
            <a href="">
                <img src="../../../assets/logoClaro.png" alt="logo">
            </a>
            <ul>
                <li>Desenvolvido por:</li>
                <li>Anderson Balieiro</li>
                <li>João Duque</li>
                <li>Marlon Batista</li>
                <li>Nicolas Balduino</li>
            </ul>
        </div>
        
        <div *ngIf="conected">
            <h3>Aluno</h3>
            <ul>
                <li><a mat-button routerLink="/aluno-registro">Registro</a></li>
                <li><a mat-button routerLink="/aluno-matricula">Matrícula</a></li>
                <li><a mat-button routerLink="/aluno-desempenho">Desempenho</a></li>
            </ul>
        </div>
        <div *ngIf="conected">
            <h3>Organizacional</h3>
            <ul>
                <li><a mat-button routerLink="/organizacional-serie">Série</a></li>
                <li><a mat-button routerLink="/organizacional-turma">Turma</a></li>
                <li><a mat-button routerLink="/organizacional-disciplina">Disciplina</a></li>
            </ul>
        </div>
        <div *ngIf="conected">
            <h3>Relatório</h3>
            <ul>
                <li><a mat-button routerLink="/relatorio-aluno">Por Aluno</a></li>
                <li><a mat-button routerLink="/relatorio-turma">Por Turma</a></li>
                <li><a mat-button routerLink="/relatorio-serie">Por Série</a></li>
                <li><a mat-button routerLink="/relatorio-livro">Livro de Notas</a></li>
            </ul>
        </div>
    </div>
    <p>Copyright © Todos os direito reservados | 2022</p>
</footer>
